---
title: Play with us!
---
<% bronze="<img src=\"images/BronzeMedium.png\" class=\"division_logo\">"%>
<% silver="<img src=\"images/SilverMedium.png\" class=\"division_logo\">"%>
<% gold="<img src=\"images/GoldMedium.png\" class=\"division_logo\">"%>
<% platinum="<img src=\"images/PlatinumMedium.png\" class=\"division_logo\">"%>
<% diamond="<img src=\"images/DiamondMedium.png\" class=\"division_logo\">"%>
<% grandmaster="<img src=\"images/GrandmasterMedium.png\" class=\"division_logo\">"%>

<div class="play_title">This week's tournaments!</div>

<table class="play_week_tournaments">
  <tr>
    <td><%=bronze%><%=silver%><%=gold%></td><td><a href="http://scvrush.challonge.com/eubg26">Sign up</a></td>
  </tr>
  <tr>
    <td><%=bronze%><%=silver%><%=gold%><%=platinum%></td><td><a href="http://scvrush.challonge.com/eubp24">Sign up</a></td>
  </tr>
  <tr>
    <td><%=bronze%><%=silver%><%=gold%><%=platinum%><%=diamond%></td><td><a href="http://scvrush.challonge.com/eubd21">Sign up</a></td>
  </tr>
  <tr id="open-tr">
    <td id="open">Open - 5€ Prize Pool</td><td><a href="http://scvrush.challonge.com/eulotv29">Sign up</a></td>
  </tr>
</table>

<div class="play_under_table">
  Read the <a href="howto.html">How-to</a> to know how to participate!
</div>
